@import '../../../styles/settings.scss';

.carousel {
  height: 100vh;
  div {
    max-height: 100vh;
    color: #000;
    font-size: ($base-size * 2);
    padding: 0 ($base-size * 2) ($base-size * 2) ($base-size * 2);
  }
}

.title {
  margin: ($base-size * 8) 0;
  text-align: center;
  background-color: $color-nav;
  color: $color-white;
  padding: ($base-size * 4);
}

@media (max-width: 1024px) {
  .carousel {
    height: 85vh;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 60vh;
  }
}

@media (max-width: 430px) {
  .carousel {
    height: 30vh;
  }
}

@media (max-width: 330px) {
  .carousel {
    height: 20vh;
  }
}